/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);
            
/*basic reset*/


body {
    font-family: montserrat, arial, verdana;
    background: transparent;
}

.msform .confirm-otp{
 
    
}
.msform .confirm-otp input {
    width: 55px;
    height: 55px;

    line-height: 50px;
    text-align: center;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    
    margin: 0 2px;
}

/*form styles*/
.msform {
  /*   text-align: center;  */
    position: relative;
    margin-top: 0px;
}

.msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 15px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
.msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/

.msform .input {

    padding: 5px;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    box-shadow: none !important;
    color: #2C3E50;
    font-size: 13px;
}


.msform input:focus, .msform textarea:focus {
   
    box-shadow: none !important;
    border: 1px solid #FE000B;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}
.msform .multiple {

   
    box-shadow: none !important;
    border: 1px solid #FE000B;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}
/*buttons*/
.msform .action-button {
    width: 100px;
    background: #FE000B;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}



/*  #msform .action-button:hover, #msform .action-button:focus {

    box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
} */

.msform .action-button-previous {
    width: 100px;
    background: gray;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}



/*headings*/
.fs-title {
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #FE000B;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}


